<mappers>
  <mapper resource="com/example/mappers/AnswerGroupMapper.xml"/>
</mappers>

<mapper namespace="com.group.mappers.AnswerGroupMapper">
  
  <select id="selectAnswerGroupByGroupID" resultType="AnswerGroup">
    SELECT * 
    FROM answer_group 
    WHERE group_id = #{groupID}
  </select>
  
  <select id="selectAnswerGroupList" resultType="AnswerGroup">
    SELECT * 
    FROM answer_group 
    LIMIT #{startIndex}, #{batchSize}
  </select>
  
</mapper>